<!DOCTYPE html>
<html>
  <head>
    <title>Brocast</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://gist.github.com/JonCooperWorks/7045079/raw/8379e16913847c62cb569b0377d3b82060e992ee/jumbotron.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {{template "js"}}
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/brocasts">My Brocasts</a></li>
        </ul>
        <h3 class="text-muted">BroCast</h3>
      </div>

      <div class="jumbotron">
        <h1>BroCast</h1>
          {{template "content" .}}
      </div>
    </div> <!-- /container -->
  </body>
</html>
{{define "js"}}{{end}}
