{{define "js"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/geo-location-javascript/0.4.8/geo-min.js"></script>
<script type="text/javascript">
// On form button click:
// Get emails and convert to list of strings, validating each one
// Get message
// Get Geo location
// Turn it into a JSON string and send to server

$(document).ready(function() {

  var geolocation;

  if(geo_position_js.init()) {
    geo_position_js.getCurrentPosition(success, error, {enableHighAccuracy: true});
  }

  else {
    alert("Your browser does not support geolocation.");
  }

  function success(p) {
    geolocation = String(p.coords.latitude).concat(",", String(p.coords.longitude));
    console.log(geolocation);
  }

  function error(p) {
    alert(p.message);
  }

  $("button#submit").click(function(e) {
    // Stop form from submitting
    e.preventDefault(e);

    // Marshal form contents into a JSON object
    var recipients = $("input#recipients").val().split(","),
        body = $("textarea#body").val();
    for(var i = 0; i < recipients.length; i++) {
      if(!recipients[i] || recipients[i].indexOf("@") == -1) {
        return;
      }
    }
    var message = JSON.stringify({
      "recipients": recipients,
      "body": body,
      "geolocation": geolocation
    });

    // Send message to endpoint.
    $.post("/brocasts", message, function(data, textStatus, jqXHR) {
      alert("Brocast sent!");
    });
  });
});
</script>
{{end}}
{{define "content"}}
<form role="form">
  <div class="form-group">
    <label for="recipients">Email addresses (Separated by commas)</label>
    <input type="text" class="form-control" id="recipients" placeholder="test1@example.com, test2@example.com">
  </div>
  <div class="form-group">
    <textarea class="form-control" id="body" name="body" placeholder="Your message"></textarea>
  </div>
  <button id="submit" class="btn btn-default">Brocast it!</button>
</form>
{{end}}
